

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }




.contact-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;

    transition: all 0.5s ease-in-out;

    border: 1px solid rgb(134, 134, 134);

    cursor: pointer;
}

.contact-button:hover {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
    box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);

    border: none;
}

#contact-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#contact-form-container {
    position: fixed;
    display: none;
    background-color: rgba(71, 71, 71, 0.9);
    width: 40vw;
    height: 60vh;
    right: 20px;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
  
    -webkit-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
    box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);

    border: 1px solid rgb(199, 199, 199);
}

#contact-form {
    display: none;
    flex-direction: column;
    align-items: center;
}

#contact-form * {
    margin-top: 8px;
    min-height: 30px;
    font-family: inherit;
    font-weight: bold;
}


@media only screen and (min-width: 980px) {
    #contact-form-container {
        width: 40vw;
        height: 60vh;
    }

    #subject {
        width: 30vw;
    }

    #proposal {
        width: 35vw;
        height: 20vh;
    }

    #email {
        width: 20vw;
        min-width: 20vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
    #contact-form-container {
        width: 60vw;
        height: 60vh;
    }

    #subject {
        width: 45vw;
    }

    #proposal {
        width: 55vw;
        height: 20vh;
    }

    #email {
        width: 35vw;
    }
}

@media only screen and (max-width: 600px) {
    #contact-form-container {
        width: 90vw;
        height: 80vh;
    }

    #subject {
        width: 70vw;
    }

    #proposal {
        width: 80vw;
        height: 40vh;
    }

    #email {
        width: 45vw;
    }
}


#close-contact-form {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: white;
}

.contact-title {
    display: none;
    color: white;
    font-weight: lighter;
  }


  #sending-icon {
    display: none;
    color: white;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

  #mail-sent-text {
      display: none;
      color: white;
  }