@font-face {
  font-family: "Microsoft Jhenghei";
  src: url("../font/msjh_0.ttf");
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-weight: 100;
  -webkit-font-smoothing: antialiased;

  /* BOX SHADOW */
  -webkit-box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
  -moz-box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
  box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
}

@media only screen and (min-width: 980px) {
  .main {
    width: 980px;
  }

  .site-name {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  .main {
    width: 70vw;
  }

  .site-name {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100vw;
  }

  .site-name {
    font-size: 3ch;
  }
}

.site-name,
.site-subtitle {
  font-family: "Microsoft Jhenghei", serif;
  font-weight: lighter;
}

.site-name {
  margin-top: 20px;
}

.site-subtitle {
  margin-top: 0;
  color: rgb(75, 75, 75);
}

.simple-list {
  display: flex;
  flex-direction: column;
}

a {
  color: rgb(39, 39, 39);
  text-decoration: none;
}