
/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCJW8zZmW5O7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCJW8zaGW5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-weight: 100;
  -webkit-font-smoothing: antialiased;

  /* BOX SHADOW */
  -webkit-box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
  -moz-box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
  box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);

    font-family: 'Oxygen', sans-serif;

}

@media only screen and (min-width: 980px) {
  .main {
    width: 980px;
  }

  .site-name {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  .main {
    width: 70vw;
  }

  .site-name {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100vw;
  }

  .site-name {
    font-size: 2.5ch;
  }
}

.site-name {
  margin-top: 20px;
}

.site-subtitle {
  margin-top: 0;
  color: rgb(75, 75, 75);
}

.simple-list {
  display: flex;
  flex-direction: column;
}

a {
  color: rgb(39, 39, 39);
  text-decoration: none;
}
