@font-face {
  font-family: "Microsoft Jhenghei";
  src: url("../font/msjh_0.ttf");
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* BOX SHADOW */
  -webkit-box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
  -moz-box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
  box-shadow: 3px 0px 5px 0px rgba(156, 156, 156, 1),
    -3px 0px 5px 0px rgba(156, 156, 156, 1);
}

@media only screen and (min-width: 980px) {
  .main {
    width: 980px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  .main {
    width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100vw;
  }
}

.site-name,
.site-subtitle,
.presentation-card {
  font-family: "Microsoft Jhenghei", serif;
  font-weight: lighter;
}

.site-name {
  margin-top: 20px;
}

.site-subtitle {
  margin-top: 0;
  color: rgb(75, 75, 75);
}

.presentation-card {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 30px;
padding: 10px;
  width: 80%;

  -webkit-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
  -moz-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
  box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
}

.card-column {
  display: flex;
  flex-direction: column;
}

.simple-list {
  display: flex;
  flex-direction: column;
}

.card-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.card-element i {
  margin-right: 10px;
}

.card-element:not(.flex-end) {
  justify-content: space-between;
}

.card-element.flex-end {
  justify-content: flex-end;
}

a {
  color: rgb(39, 39, 39);
  text-decoration: none;
}
