<div class="navbar-item">
    <span class="navbar-item-title"> INTRODUCTION </span>
</div>
<div class="vertical-separator"></div>
<div class="navbar-item">
    <span class="navbar-item-title"> CAREER GOALS </span>
</div>
<div class="vertical-separator"></div>
<div class="navbar-item">
    <span class="navbar-item-title"> ACADEMIC BACKGROUND </span>
</div>
<div class="vertical-separator"></div>
<div class="navbar-item">
    <span class="navbar-item-title"> EXPERIENCE </span>
</div>
<div class="vertical-separator"></div>
<div class="navbar-item">
    <span class="navbar-item-title"> SKILLS </span>
</div>
<div class="vertical-separator"></div>
<div class="navbar-item">
    <span class="navbar-item-title"> PROJECTS </span>
</div>