<div class="card-column first-column">
    <!-- AGE -->
    <i id="age-icon" class="fas fa-seedling fa-lg"></i>
    <span class="card-text" id="age-text"> 25 years old </span>
    <!-- AGE END -->
    <!-- PHONE NUMBER -->
    <i id="phone-number-icon" class="fas fa-mobile-alt fa-lg"></i>
    <span class="card-text" id="phone-number-text"> 686637099 </span>
    <!-- PHONE NUMBER END -->
    <!-- EMAIL -->
    <i id="email-icon" class="fas fa-inbox fa-lg"></i>
    <span id="email-text">
      <a href="mailto:cpinedocsb@gmail.com"> 
        <span class="card-text">cpinedocsb@gmail.com</span>
      </a>
    </span>
    <!-- EMAIL END -->
    <!-- ADDRESS -->
    <i id="address-icon" class="fas fa-home fa-lg"></i>
    <span id="address-text"> 
      <div class="simple-list">
        <a href="https://goo.gl/maps/UwHnwr36bGWxSaPX7" target="blank">
          <span class="card-text">Calle Cebreros 103, 4º D</span>              
        </a>
        <span class="card-text">28011 Madrid, España </span>
      </div> 
    </span>
    <!-- ADDRESS END -->
  </div>
  <div class="card-column second-column">
    <span id="linkedin-button" class="card-element"> 
      <a href="https://www.linkedin.com/in/carlos-pinedo-s%C3%A1nchez-b661a7130/" target="blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </span>
    <span id="github-logo">
      <a href="https://www.github.com/carlosnumber9" target="blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </span>
  </div>