/* STYLE FRAGMENT FOR ALL SECTIONS */
.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    width: 80%;
  
    -webkit-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);
    box-shadow: 0px 0px 14px 1px rgba(135, 135, 135, 1);

    margin-bottom: 30px;
  }
  
  .section-title {
    color: rgb(75, 75, 75);
    margin-left: 0;
  
    font-weight: lighter;
  }
  
  .section * {
    display: none;
  }

  .main-content {
    text-align: justify;
  }