@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@media only screen and (min-width: 980px) {
  .main {
    width: 980px;
  }

  .site-name {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  .main {
    width: 70vw;
  }

  .site-name {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100vw;
  }

  .site-name {
    font-size: 2.5ch;
  }
}

.site-name {
  margin-top: 20px;
}

.site-subtitle {
  margin-top: 0;
  color: rgb(75, 75, 75);
}