@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.site-name {
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.site-subtitle {
  margin-top: 0;
  color: rgba(75, 75, 75, 0.8);
  font-weight: 400; 
  letter-spacing: 0.01em;
  font-size: 1.1rem;
}

@media only screen and (min-width: 980px) {
  .main {
    width: 980px;
  }

  .site-name {
    font-size: 3rem;
  }

  a:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  .main {
    width: 70vw;
  }

  .site-name {
    font-size: 2.2rem;
  }

  a:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .site-name {
    font-size: 1.8rem;
  }
  
  .site-subtitle {
    font-size: 1rem;
  }
}
